.App {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #7395A3;
  padding: 20px 40px 20px 40px;
}

@font-face {
  font-family: 'Title Font';
  src: url(./asset/SugarpunchDEMO.otf)
}

@font-face {
  font-family: 'Section Font';
  src: url(./asset/AweSomE\ JouRneY.otf)
}

.mainTitle {
  font-family: 'Title Font';
  font-size: 60px;
}

.sectionTitle {
  font-family: 'Section Font';
  font-size: 38px;
  color: darkgray;
  -webkit-text-stroke: 1.5px black;
}

.myButton {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bolder;
  padding: 8px;
}

.myButton:hover {
  color: #7395A3;
  background-color: black;
  font-size: 26px;
}